* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: sans-serif;
    color: white
}

h2 {
    font-family: sans-serif;
    color: white
}

h3 {
    font-family: sans-serif;
    color: white
}

h4 {
    font-family: sans-serif;
    color: white
}

p {
    font-family: sans-serif;
    color: white;
    margin-bottom: 3px;
}

li {
    font-family: sans-serif;
    color: rgb(223, 223, 223);
}

code {
    font-size: 17px;
    line-height: 20px;
    color: rgb(217, 217, 217);
    font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
}

@media screen and (max-width:450px) {
    code {
        font-size: 14px;
        line-height: 20px;
        color: rgb(217, 217, 217);
        font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    }
}

pre {
    padding: 10px;
    background-color: rgb(49, 49, 49);
    border: 2px solid rgb(69, 69, 69);
    overflow: auto;
}

button {
    background-color: rgb(49, 49, 49);
    height: 30px;
    width: 70px;
    margin-top: 10px;
}

button a {
    color: white;
    font-size: larger;
}

a {
    color: rgb(0, 140, 255);
}

body {
    background-color: rgb(35, 35, 35);
}

header {
    margin-top: 0;
    height: 70px;
    width: auto;
    background-color: rgb(26, 26, 26);
    border-bottom: solid 2px darkgray;
}

header img {
    height: 100%;
    float: left;
}

header h1 {
    color: white;
    line-height: 70px;
    margin-left: 5px;
    float: left;
}

.main-content {
    margin: 30px;
}

.list-point-white {
    color: white;
    margin-left: 40px;
    margin-bottom: 3px;
}

.title-and-image-card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (max-width:450px) {
    .title-and-image-card-grid {
        display: grid;
        grid-template-columns: 1fr;
        margin-right: auto;
        margin-left: auto;
    }
}

.title-and-image-card-grid-item {
    height: 270px;
    width: 320px;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    border: 2px solid rgb(107, 107, 107);
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
}

.title-and-image-card-grid-item a {
    text-decoration: none;
}

.title-and-image-card-grid-item h2 {
    margin-top: 10px;
    margin-left: 15px;
}

.title-and-image-card-grid-item img {
    display: block;
    height: 210px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
}

.menu-background {
    height: auto;
    width: 400px;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    border: 2px solid rgb(107, 107, 107);
    margin-right: auto;
    margin-left: auto;
}

@media screen and (max-width:450px) {
    .menu-background {
        height: auto;
        width: 90%;
        background-color: rgb(0, 0, 0);
        border-radius: 20px;
        border: 2px solid rgb(107, 107, 107);
        margin-right: auto;
        margin-left: auto;
    }
}

.menu-background h2 {
    margin-top: 10px;
    margin-left: 15px;
}

.list-grid {
    display: grid;
    width: auto;
    grid-template-columns: repeat(3, 1fr);
    margin-right: auto;
    margin-left: auto;
}

@media screen and (max-width:1100px) {
    .list-grid {
        display: grid;
        width: auto;
        grid-template-columns: 1fr;
        margin-right: auto;
        margin-left: auto;
    }
}

.list-grid-item {
    margin-bottom: 5px;
}

.list-grid-item a {
    text-decoration: none;
    color: rgb(220, 220, 220);
}

.list-grid-item a:hover {
    text-decoration: underline;
    color: rgb(220, 220, 220);
}

.vertical-line {
    border-left: 3px solid rgb(93, 93, 93);
    margin-bottom: 40px;
}

.description {
    margin-left: 10px;
}

.type-color {
    color: rgb(0, 94, 181);
    font-weight: bold;
}

.description-color {
    color: rgb(179, 75, 0);
    font-weight: bold;
}

.example-color {
    color: rgb(165, 0, 191);
    font-weight: bold;
}

.property-color {
    color: rgb(201, 148, 0);
    font-weight: bold;
    font-family: sans-serif;
}